{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}     

<div class="grid-container">
  <div class="grid-item">
    <h6>Explore</h6>
    <hr>
  <!--List topics -->
{% for topic in topics %}
   <!--and wrapper-->
   <div>
    <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a>
   </div>
{% endfor %}  
  </div>
  <div class="grid-item">


<div>
    <div>
    {% for rooms in rooms %}
    <div>
    <a href="{% url 'update-room' rooms.id %}"> Edit</a>
    <a href="{% url 'delete-room' rooms.id %}"> Delete</a>
    <span>
    @{{rooms.host.username}}
    </span>
    <h4>{{rooms.id}}
    --- <a href="{% url 'room' rooms.id %}">{{rooms.name}}</a>
    </h4>
    <small>{{rooms.topic.name}}</small>
    <hr>
    </div>
    {% endfor %}
    </div>
    </div>
  </div>
  <div class="grid-item">
    <h4>Trends</h4>
    <hr>
  </div>  

</div>

{% endblock %}

