{% extends "base.html" %}

<title>{% block title %}Register/Login{% endblock %}</title>
{% block content %} 
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" />
        <label>Password</label>
        <input type="password" name="username" placeholder="Enter Username" />

        <input type="submit" value="Login" />

    </form>
</div>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        

        <input type="submit" value="Register" />

    </form>
</div>

{% endblock content %}
